
:root {
    --accent1-color: #F18F01;
    --accent2-color: #048BA8;
    --accent3-color: #99C24D;
    --background-textbox-color: #dce7f4;
    --background-color: #2E4057;
    --title-font: "Henny Penny", serif;
    --main-font: "DM Sans", serif;
    --alternate-font: "Gaegu", serif;

}

* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    width: 100%;
    position: relative;
    
}

body, html {
    overflow-x: hidden;
}

main {
    background-color: var(--background-color);
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3rem;
    
       
}

.cats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    
}

.cats img {
    display: flex;
    max-width: 400px;
    height: auto;
    margin-top: 4rem;
    border: 15px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

#pageHeader {
    padding-top: 5rem;
    max-width: 60%;
    text-align: center;
    background-color: var(--accent1-color);
    padding: .5rem;
    padding-left: 1rem;
    font-family: var(--main-font);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    font-size: clamp(20px, 3vw, 40px);
    color: black;
}

figure h2 {
    background-color: var(--accent3-color);
    font-family: var(--title-font);
    text-align: center;
    padding: .5rem;
    margin-top: .5rem;
    border-radius: 15px;
}

.hidden-info {
    display: none;
    padding: 0;
    margin-top: .5rem;
    background-color: var(--background-textbox-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 400px;
    border: 5px solid var(--accent3-color);
    font-family: var(--main-font);
       
}

.info-hover {
    font-family: var(--alternate-font);
    text-align: center;
    font-size: 20px;
    background-color: var(--accent1-color);
    margin: 0 auto;
    width: 80%;
    border-radius: 10px;
    margin-top: .5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
   
}

.info-hover:hover + .hidden-info {
    display: block;
    position: absolute;
    padding: 0.5rem;
    width: 400px;
    margin-top: 1rem;

    
}

.cat-info {
    padding: 0;
    
}

.cat-info span {
    font-weight: 800;
}

.cat-info li {
    list-style: none;
    color: black;
    font-family: var(--main-font);
}

.cat-description {
    margin-top: .5rem;
}


/*------------------HEADER SETTINGS----------------*/
header img {
    width: 300px;
    height: auto;
    z-index: 3;
}

.img-wrap {
    position: relative;
    z-index: 1;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 305px;
    height: 305px;
    background-color: var(--accent3-color);
    z-index: -1;
    
}

.circle2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 315px;
    height: 315px;
    background-color: white;
    z-index: -2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    
}

#menu {
    visibility: hidden;
}

h1 {
    display: flex;
    align-items: center;
    font-family: var(--main-font);
    font-size: clamp(30px, 4vw, 50px);
    text-align: left;
    margin-left: 1rem;
}

header {
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    padding: 1rem;
    align-items: center;
    z-index: 0;
    border-bottom: 6px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    

}

/*--------------------NAVIGATION SETTINGS------------------*/
nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    grid-gap: 5rem;
    margin-right: 2rem;
    text-align: center;
    
}

a {
    font-size: clamp(15px, 4vw, 40px);
    text-decoration: none;
    color: black;
    font-family: var(--alternate-font);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
    
}

a:hover {
    color:#F18F01;
}

.contact-number h2 {
    text-align: center;
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: clamp(18px, 3vw, 35px);
}

.contact-number span {
    font-size: clamp(24px, 3vw, 40px);
    color: var(--accent1-color);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
}

footer {
    background-color: var(--accent2-color);
    color: black;
    font-family: var(--main-font);
    text-align: center;
    padding: 1rem;
    border-top: 10px solid var(--accent1-color);
}

@media screen and (max-width: 1300px) and (min-width: 751px) {
    .cats {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .cats img {
        display: flex;
    }

    #pageHeader {
        max-width: 80%;
    }

    body, html {
        overflow-x: hidden;
    }

}

@media screen and (max-width: 750px) {

    body, html {
        overflow-x: hidden;
    }

    #pageHeader {
        max-width: 100%;
    }

    .info-hover {
        display: none;
    }
    
    .hidden-info {
        display: block;
        padding: .5rem;
    }

    figure img {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }


    header img {
        width: 140px;
        height: auto;
        z-index: 3;
    }
    
    .img-wrap {
        position: relative;
        z-index: 1;
    }

    .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 140px;
        height: 140px;
        background-color: var(--accent3-color);
        z-index: -1;
        
    }
    
    .circle2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 146px;
        height: 146px;
        background-color: white;
        z-index: -2;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        
        
    }

    #menu {
        visibility: visible;
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #ffffff;
         position: absolute;
        top: 1rem;
        right: 1rem;
        
    }
    
    #menu::before {
        content: "☰";
        
    }
    
    #menu.active::before {
        content: "❌";
    }
    
    .navigation {
        position: absolute;
        right: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background-color: var(--background-color);
        width: 40%;
        text-align: center;
        transition: 0.3s;
        margin: 0;
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    }
    
    .navigation a {
        color: white;
        font-size: 30px;
        
    }
    
    a:hover {
        color: var(--accent3-color);
    }
    
    .navigation li {
        padding: 1rem;
    
    }
    
    .navigation.active {
        right: 0;
    }
       
    .cats {
        display: block;
        box-sizing: border-box;
    }
}