:root {
    --accent1-color: rgb(11, 30, 52);
    --accent2-color: rgb(155, 181, 209);
    --accent3-color: rgb(212, 212, 212);
  
}


* {
    margin: 0rem;
    padding: 0;
    box-sizing: border-box;

}

main {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    font-family: "Dosis", serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--accent3-color);
}

header {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    font-family: "Lato", sans-serif;
    background-color: var(--accent1-color);
    
}



nav ul {
    list-style: none;
    display: flex;
    grid-gap: 5rem;
    margin-right: 2rem;
    font-size: 20px;
}

h1 {
    
    font-family: "Dosis", serif;
    padding: 1rem;
    font-weight: 800;
    font-size: 3rem;
    font-style: normal;
    color: white;
    
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(252, 202, 20);
    transition: 0.4s ease;
}   


h2 {
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}
  

.temples {
    display: flex;
    flex-wrap: wrap;
    justify-items: space-around;
    align-items: center;
}    

.temples img {
    width: 100%;
    height: auto;
    padding: 1rem;
}

figcaption {
    text-align: center;
}

footer {
    background-color: var(--accent1-color);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

@media screen and (max-width: 749px) {

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #ffffff;
 	position: absolute;
    top: 1rem;
    right: 1rem;
	
}

#menu::before {
    content: "☰";
    
}

#menu.active::before {
    content: "❌";
}

.navigation {
    position: absolute;
    right: -100%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background-color: var(--accent2-color);
    width: 25%;
    text-align: center;
    transition: 0.3s;
    margin: 0;
    padding: 1rem;

}

.navigation a {
    color: black;
}

a:hover {
    color: yellow;
}

.navigation li {
    padding: 1rem;

}

.navigation.active {
    right: 0;
}

}

